@import "tailwindcss";

:root {
  --background: #f2f5f7; 
  --foreground: #262729; 
  --primary-purple: #290d62;
  --primary-green: #00FF7F; 
  --secondary-lilac: #6667e2; 
  --lighter-blue: #bbe6ff;
  --hover: #3a216d; 
  --error: #FF4C4C; 
  --warning: #FFC107; 
  --success: #4CAF50; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary-green);
  --color-primary-dark: var(--primary-purple);
  --color-secondary: var(--secondary-lilac);
  --color-light-blue: var(--lighter-blue);
  --color-hover: var(--hover);
  --color-error: var(--error);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --font-primary: var(--font-rubik);
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Gradient Button Styles */
.gradient-primary {
  background: linear-gradient(135deg, #9358f7 0%, #6197ee 50%, #10d7e2 100%);
}

.gradient-primary-reverse {
  background: linear-gradient(315deg, #9358f7 0%, #6197ee 50%, #10d7e2 100%);
}